body{
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.formu form{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 50px 35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 380px;
}
.formu h2{
    font-size: 35px;
    color: #0d0d0d;
    margin: 0;
}
.formu p{
    font-size: 16px;
    color: #5e5e5e;
    margin-bottom: 35px;
}
.entradas{
    position: relative;
    width: 305px;
    margin-bottom: 35px;
}

.formu input{
    color: #0d0d0d;
    padding: 20px 15px 20px 60px;
    width: 100%;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 0 20px rgba(192, 203, 251, 0.7);
    outline: none;
    font-size: 16px;
}
.formu input::placeholder{
    font-size: 16px;
    color: #bbbbe2;
}

.imagen{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    transform: translateY(-55%);
}