.plantel{
    min-width: 250px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    background: #79ff9b;
    border: 1px solid #000000;
    min-height: 50px;
}
.plantel .mi_plantel{
    min-width: 200px;
    
    background: #00ff08;
    border: 1px solid #000000;

}
.plantel .mi_plantel .mi_plantel_titulo{
    width: 100%;
    border-bottom: 1px solid #c2c5ca;
}
.plantel .mi_plantel .mi_plantel_titulo h2{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #0056b3;
    font-family: "Roboto", sans-serif, Helvetica, Arial, sans-serif;
}
.plantel .mi_plantel .mi_plantel_img img{
    margin-top: 10px;
    margin-left: 10px;
    width: 230px;
    height: 180px;
}