<link rel="stylesheet" href="../assets/css/nav.css">
<div class="nav_bar" onmouseover="expandirBarraLateral()" onmouseout="contraerBarraLateral()">
    <div class="barra" id="barra">
        <ul>
            <li>
                <a href="../views/inicio.php">
                    <div class="item_nav_barr">
                        <img src="../assets/resources/Iconos 02 Inicio.svg" alt="" id="icono">
                        <span id="icono_nom">Inicio</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="item_nav_barr">
                        <img src="../assets/resources/Iconos 04 Plantel.svg" alt="" id="icono2">
                        <span id="icono_nom2">Plantel</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="item_nav_barr">
                        <img src="../assets/resources/Iconos 05 Grupos.svg" alt="" id="icono3">
                        <span id="icono_nom3">Grupos</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="item_nav_barr">
                        <img src="../assets/resources/Iconos 06 Materias.svg" alt="" id="icono4">
                        <span id="icono_nom4">Materias</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="item_nav_barr">
                        <img src="../assets/resources/Iconos 07 Horarios.svg" alt="" id="icono5">
                        <span id="icono_nom5">Horarios</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="item_nav_barr">
                        <img src="../assets/resources/Perfil.svg" alt="" id="icono6">
                        <span id="icono_nom6">Perfil</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="../assets/js/nav.js"></script>