<link rel="stylesheet" href="assets/css/nav.css">
<div class="cont_nav" onmouseover="expandirBarraLateral()" onmouseout="contraerBarraLateral()">
    <div class="barra-lateral" id="barraLateral">
        <button class="icono" onclick="inicio(); return">
            <img src="assets/image/Iconos 02 Inicio.svg" alt="" class="img_i">
            <p id="txt2">Inicio</p>
        </button>
        
        <button class="icono" onclick="lic(); return">
            <img src="assets/image/Iconos 01 Biblioteca.svg" alt="" class="img_i">
            <p id="txt1">Biblioteca</p>
        </button>
        
    </div>
</div>
<script src="assets/js/nav.js"></script>