.cont_nav {
    margin-top: 80px;
    display: flex;
}

.barra-lateral {
    width: 100%; /* Ancho de la barra lateral */
    background-color: #0B67A8;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    align-items: center;
    height: 614px;
}
.icono p{
    padding: 0;
    margin: 0;
    color: white;
    display: none;
    font-weight: bold;
}

.icono {
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    border: 0;
    background: transparent;
}
.img_i{
    width: 40px;
    height: 40px;
}

.icono:hover {
    background-color: #00305d;
}

.contenido {
    flex-grow: 1;
    padding: 20px;
}
#barraLateral {
    transition: width 0.3s; /* Agregar transición para suavizar el cambio de ancho */
}