body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Asegura que el cuerpo ocupa toda la altura de la ventana */

}
.contenido_index{

    width: 100%;
    overflow: hidden;/* Limpiar el float */
}
.c_izq{

    height: 100%;
    float: left;
    width: 5%; /* O el ancho que desees */

}
.c_der{

    height: 100%;
    float: right;
    width: 95%; /* O el ancho que desees */
}
#c_izq {
    transition: width 0.3s; /* Agregar transición para suavizar el cambio de ancho */
}
#c_der{
    transition: width 0.3s;
}